.enq {
  &-list {
    padding: 14px 0px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    min-width: 170px;
    li {
      list-style-type: none;
      i {
        color: #f97520;
      }
    }
  }
  &-alert {
    &.el-alert {
      margin-top: 27px;
      margin-bottom: 40px;
      padding: 32px 30px;
      border-radius: 0px;
      background-color: #f8f8f8;
      color: #484848;
      .el-alert__title {
        font-size: 16px;
      }
      @media screen and (max-width: 768px) {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-bottom: 25px;
        padding: 32px 15px;
        .el-alert__content {
          width: 100%;
        }
        .el-alert__title {
          font-size: 14px;
        }
      }
    }
  }
  &-carousel {
    .el-carousel__container {
      height: initial;
    }
  }
  &-tabs {
    &:not(.events-tabs) {
      .el-icon-arrow-right {
        &.is-active {
          transform: rotate(0deg);
          margin-top: -7px;
          &:before {
            content: url("/img/icons/shape_open.svg");
          }
        }
        &:before {
          content: url("/img/icons/shape_close.svg");
        }
      }
    }
    p:not(.title-middle) {
      font-size: 16px;
    }
    p {
      margin-bottom: 40px;
      text-align: justify;
      &.mb0 {
        margin-bottom: 0px;
      }
    }
    h3 {
      margin-bottom: 20px;
    }
    .divider {
      width: 100%;
      height: 2px;
      background-color: #efefef;
      margin: 80px 0px;
      @media screen and (max-width: 768px) {
        margin: 20px 0px;
      }
    }
    .el-tabs {
      &__active {
        &-bar {
          display: none;
        }
      }
      &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: initial;
        padding-bottom: 100px;

        &-wrap {
          &::after {
            content: none;
          }
        }
      }
      &__item {
        font-size: 22px;
        color: #c8c8c8;
        padding: initial;
        height: initial;
        line-height: initial;
        white-space: pre-line;
        text-align: center;
        max-width: 260px;
        transition: .1s all ease-in;
        &:hover {
          color: #525252;
        }
        &.is-active {
          color: #525252;
        }
      }
      @media screen and (max-width: 768px) {
        &__nav {
          flex-direction: column;
          justify-content: start;
          padding-bottom: 0px;
        }
        &__item {
          text-align: left;
          width: 100%;
          max-width: 100%;
          padding-bottom: 20px;
        }
      }
    }
  }
  &-collapse {
    @media screen and (max-width: 768px) {
      .el-collapse-item {
        padding: 10px 0px;
        &.mt-14:first-child {
          margin-top: 0px;
        }
      }
    }
    .el-collapse-item__header {
      font-size: 20px;
      color: #4f4f4f;
      margin-bottom: 14px;
      @media screen and (max-width: 1368px) {
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &.privatesale {
      .el-collapse-item__header {
        @media screen and (max-width: 1368px) {
          line-height: 1.8;
          white-space: initial;
          text-overflow: initial;
          overflow: initial;
        }
      }
    }
  }
  &-button {
    padding: 14px;
    display: inline-block;
    border-radius: 4px;
    min-width: 160px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    &.default {
      border: 2px solid #f3f3f3;
      color: #4f4f4f;
      &:hover,
      &:active,
      &:focus {
        color: #4f4f4f;
        border-color: #d5d5d5;
        background-color: transparent;
      }
      &.active {
        background-color: #f3f3f3;
        &:hover,
        &:active,
        &:focus {
          color: #4f4f4f;
          border-color: #e4e4e4;
          background-color: #e4e4e4;
        }
      }
      &.small {
        padding: 9px 15px;
      }
      &.gold {
        color: #ffffff;
        background-color: #f97520;
        min-width: 100px;
        transition: all .2s ease;
        border: 0px;
        padding: 12px 25px;
        width: initial;
        &:hover {
          background-color: #fa9543;
        }
      }
    }
    &--blue {
      background-color: #27a7d1;
      color: #ffffff;
      transition: .2s all ease-in;
      &:hover,
      &:active,
      &:focus {
        background-color: #1691bb;
      }
      &-plain {
        transition: .2s all ease-in;
        color: #27a7d1;
        border: 2px solid #27a7d1;
        background-color: transparent;
        &:hover,
        &:active,
        &:focus {
          color: #1691bb;
          border-color: #1691bb;
          background-color: transparent;
        }
        &.active {
          background-color: #27a7d1;
          color: #ffffff;
          &:hover,
          &:active,
          &:focus {
            border-color: #27a7d1;
          }
        }
      }
    }
    &--plain {
      padding: 13px 15px;
      box-sizing: border-box;
      color: #27a7d1;
      background: transparent;
      transition: .2s all ease-in;
      &:hover,
      &:active,
      &:focus {
        background-color: #69cde7;
        color: #58b6ce;
        border-color: transparent;
      }
    }
    &--plain-small {
      font-size: 16px;
      font-family: inherit;
      padding: 10px 25px;
      color: #27a7d1;
      border: 2px solid #27a7d1;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;
      transition: .1s all ease-in;
      &:hover {
        color: #1691bb;
        border-color: #1691bb;
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &-radio {
    margin-bottom: 35px;
    &.flex-column {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    .el-radio {
      margin-bottom: 10px;
      &__inner {
        width: 20px;
        height: 20px;
      }
      &__label {
        padding-left: 25px;
        font-size: 16px;
      }
      & + .el-radio {
        margin-left: 0px;
      }
    }
  }
}

.homepage {
  .el-button.small-mini {
    min-width: 120px;
    font-weight: bold;
    &:not([disabled]) {
      background-color: #69cde7;
      color: #186981;
      border: none;
      padding: 11px 15px;
      &.white {
        background-color: transparent;
        color: #ffffff;
        &:hover {
          background-color: #ffffff;
          color: #186981;
        }
      }
    }
  }
}

.el-button {
  &.small-mini {
    min-width: 120px;
    font-weight: bold;
    &:not([disabled]) {
      background-color: #69cde7;
      color: #1691bb;
      border: none;
      padding: 11px 15px;
      &.white {
        background: transparent;
      }
    }
  }
  &.el-button {
    &--primary:not([disabled]) {
      background-color: #27a7d1;
      color: #ffffff;
      transition: .2s all ease-in;
      &:hover,
      &:active {
        background-color: #1691bb;
        border-color: #1691bb;
      }
    }
  }
}

.jarallax {
  position: absolute;
  z-index: 0;
  right: 50px;
  top: 0px;
  bottom: 0px;
  //width: 692px;
  width: 590px;
  @media screen and (max-width: 1440px) {
    width: 500px;
  }
  @media screen and (max-width: 1280px) {
    width: 400px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.jarallax > .jarallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
