$color-title: #009dc8;
$fullHeight: calc(100vh - 80px);
.banner {
  &-wrapper {
    display: flex;
    align-items: center;
    height: $fullHeight;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-image: url('/img/mainpage/banner/face-1.png');
    padding: 0px 15px;
  }
  &-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
  }
  &-content {
    max-width: 580px;
  }
  &-title {
    color: #009dc8;
    font-size: 90px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  &-description {
    padding-top: 30px;
    color: #000000;
    font-size: 31px;
  }
  .social {
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
  }
  @media screen and (max-width: 1440px) {
    &-title {
      font-size: 30px;
    }
    &-description {
      font-size: 24px;
    }
  }
  @media screen and (max-width: 768px) {
    &-wrapper {
      height: auto;
      padding: 100px 15px;
      background-position: -40%;
      background-size: cover;
    }
    &-title {
      font-size: 24px;
    }
    &-description {
      font-size: 20px;
    }
    .social {
      bottom: 10px;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  a {
    width: 85px;
    height: 85px;
    img {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    a {
      width: 40px;
      height: 40px;
    }
  }
}

/*.banner {
  .enq-button {
    margin-top: 20px;
    margin-right: 15px;
  }
  &_title {
    font-weight: bold;
    font-size: 4.5rem;
    @media screen and (max-width: 1440px) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 2rem;
      padding-top: 54px;
    }
  }
  &_text {
    & > div {
      max-width: 500px;
      font-size: 1.3rem;
    }
  }
  &_networks {
    padding-top: 20px;
    a {
      margin-right: 10px;
    }
    img {
      width: 40px;
    }
    @media screen and (max-width: 768px) {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      a {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  &_content {
    position: relative;
  }
  &_img {
    height: 100%;
    &-wrapper {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 100%;
      max-width: 770px;
      z-index: 0;
      @media screen and (max-width: 768px) {
        opacity: .4;
      }
      .el-carousel {
        height: 100%;
      }
    }
  }
  img {
    width: 100%;
  }
}*/

/*.subscribe {
  padding-top: 90px;
  @media screen and (max-width: 768px) {
    padding-top: 10px;
  }
  &_text {
    max-width: 500px;
    margin-bottom: 16px;
  }
  &_footer {
    display: flex;
    align-items: flex-start;
    .input {
      width: 500px;
      max-width: 500px;
      margin-right: 15px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      .input {
        width: 100%;
      }
      &-item {
        width: 100%;
      }
      .join {
        width: 100%;
      }
    }
  }
}*/

/*.business {
  padding: 50px 0px;
  &_carousel {
    display: flex;
    justify-content: center;
    &-container {
      padding: 0px 35px 35px 35px;
      width: 100%;
      max-width: 950px;
      display: inline-block;
    }
    &-tabs {
      display: flex;
      justify-content: center;
      & > .el-tabs {
        overflow: hidden;
      }
      @media screen and (max-width: 768px) {
        justify-content: end;
        padding: 15px;
      }
    }
    &-row {
      display: flex;
    }
    &-title {
      font-weight: bold;
      text-align: center;
    }
    &-item {
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
      background: #ffffff;
      border-radius: 10px;
      max-width: 900px;
      margin: 0 auto;
      padding: 15px;
    }
    &-text {
      height: 250px;
      padding-left: 40px;
      padding-right: 10px;
      overflow-y: scroll;
    }
    @media screen and (max-width: 768px) {
      &-row {
        flex-direction: column;
        text-align: center;
      }
      &-text {
        padding-left: 10px;
        height: initial;
      }
    }
  }
}

.breakThrought {
  &-description {
    position: relative;
  }
  &-buttons {
    .enq-button {
      margin-right: 16px;
    }
  }
  @media screen and (min-width: 1300px) {
    .new.title {
      margin-bottom: 100px;
    }
  }
  @media screen and (min-width: 768px) {
    &-description {
      margin-left: 200px;
    }
  }
  @media screen and (max-width: 768px) {
    &-buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .enq-button {
        margin-right: 0px;
        margin-bottom: 4px;
        width: calc(100% - 30px);
        max-width: 300px;
      }
    }
  }
}

.features {
  display: flex;
  justify-content: center;
  &_block {
    padding-top: 50px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    top: -90px;
    padding-bottom: 90px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 768px) {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  &_carousel {
    display: flex;
    justify-content: center;
    margin-top: -160px;
    &-row {
      display: flex;
      align-items: center;
      height: auto;
    }
    &-container {
      padding: 35px;
      width: 100%;
      max-width: 950px;
      & > .el-carousel__container {
        height: 330px;
        transition: height .2s ease-in-out;
      }
      @media screen and (max-width: 768px) {
        padding-bottom: 40px;
      }
    }
    &-item {
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
      background: #ffffff;
      border-radius: 10px;
      max-width: 900px;
      margin: 0 auto;
      padding: 20px;
    }
    &-title {
      margin-bottom: 15px;
      color: #4f4f4f;
      font-size: 24px;
      padding-left: 40px;
    }
    img {
      margin-right: 60px;
      width: auto;
      height: auto;
      z-index: 10;
      max-height: 160px;
    }
    &-text {
      display: flex;
      align-items: center;
    }
    @media screen and (max-width: 768px) {
      !*&-text {
        padding-bottom: 30px;
      }*!
      &-row {
        flex-direction: column;
      }
      img {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        height: initial;
        max-width: 100%;
      }
    }
  }
}

.feedback {
  flex-wrap: wrap;
  padding: 48px 0 60px;
  background: #f2f5f3;
  .title {
    margin-bottom: 70px;
  }
  .send {
    margin-top: 50px;
  }
  @media screen and (max-width: 768px) {
    padding: 16px;
  }
}*/

.block {
  max-width: 650px;
  &-wrapper {
    position: relative;
    height: $fullHeight;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #ffffff;
    padding: 0px 15px;
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      right: 0px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
    }
    &.mining:after {
      background-image: url('/img/mainpage/landings/phone-mining.png');
    }
    &.mission:after {
      background-image: url('/img/mainpage/landings/our-mission.png');
    }
    &.changeworld:after {
      background-image: url('/img/mainpage/landings/changing-world.png');
    }
  }
  &-inner {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
  }
  &-title {
    color: $color-title;
    font-weight: bold;
    font-size: 70px;
  }
  &-description {
    font-size: 20px;
    padding: 40px 0px;
  }
  @media screen and (max-width: 1440px) {
    &-wrapper {
      &:after {
        opacity: .2;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &-wrapper {
      padding: 0px 15px;
    }
  }
  @media screen and (max-width: 768px) {
    &-wrapper.standart {
      height: auto;
      background-image: none;
      text-align: center;
      padding: 15px;
    }
    &-title {
      font-size: 40px;
    }
  }
}

.roadmap {
  background-color: #009dc8;
  &-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 84px;
    max-width: 1440px;
    margin: 0 auto;
    &-wrapper {
      position: absolute;
      width: 100%;
      top: 50px;
      z-index: 1;
    }
  }
  @media screen and (max-width: 768px) {
    overflow-x: auto;
    position: relative;
    &-title {
      font-size: 66px;
      &-wrapper {
        left: 15px;
      }
    }
  }
}

.scene {
  @media screen and (min-width: 768px) {
    &2 {
      box-shadow: rgba(1, 1, 1, 0.2) 0px -3px 25px -10px;
    }
  }
}

.subteam {
  padding: 0px 200px;
  .page-title {
    color: #009dc8;
    font-weight: bold;
  }
  &_button {
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
  }
  @media screen and (max-width: 1440px) {
    padding: 0px 50px;
  }
  @media screen and (max-width: 991px) {
    padding: 15px;
    .page-title {
      text-align: center;
    }
  }
}

.citaties {
  &-wrapper {
    height: $fullHeight;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    &.car-0 {
      background-color: #009dc8;
    }
    &.car-1 {
      background-color: #ff7400;
      .citaties-title {
        color: #ffbf8a;
      }
    }
    &.car-2 {
      background-color: #bcbcbc;
      .citaties {
        &-title {
          color: #565656;
        }
        &-person {
          color: #000000;
        }
        &-subtitle {
          color: #868686;
        }
      }
    }
  }
  &-inner {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding-bottom: 50px;
    font-size: 27px;
    color: #ffffff;
  }
  &-title {
    font-size: 56px;
    color: #8ad2e6;
    font-weight: bold;
  }
  &-person {
    padding-top: 20px;
    text-transform: uppercase;
  }
  &-content {
    max-width: 750px;
  }
  &-subtitle {
    padding-bottom: 20px;
  }
  &-avatar {

  }
  @media screen and (min-width: 768px) {
    &-content {
      padding: 0px 15px;
    }
  }
  @media screen and (max-width: 768px) {
    &-content {
      text-align: center;
    }
    &-title {
      font-size: 26px;
    }

  }
}

/*.mining {
  padding: 48px 0 40px;
  background: #f7faf8;
  flex-wrap: wrap;
  &_block {
    background: #ffffff;
    -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 100px 80px 80px 80px;
    margin-top: 34px;
    position: relative;
    max-width: 1200px;
    margin: 34px auto 0;
    &_steps {
      text-align: center;
    }
    &-wrapper {
      display: inline-block;
      max-width: 1200px;
    }
    &-text {
      padding-right: 50px;
    }
    &_img {
      &-block {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-main {
        max-height: 100%;
        width: auto;
        max-width: 65%;
      }
      &-arrow {
        width: 28%;
        margin-right: 2%;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
    @media screen and (max-width: 768px) {
      padding: 50px 15px;
      &-text {
        padding-right: 0px;
      }
    }
  }
}*/

.partner {
  flex-wrap: wrap;
  &-item {
    display: flex;
    align-items: center;
    min-height: 140px;
    padding: 0px 10px;
    a {
      width: 100%;
    }
    &_avatar {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    padding-top: 30px;
    &-pure,
    &-eco {
      text-align: center;
      flex-direction: column;
    }
    .page-sub-title {
      width: 100%;
      text-align: center;
      padding: 0px 15px;
    }
    &-item {
      width: 100%;
      padding: 20px 0px;
      justify-content: center;
      a {
        width: auto;
      }
      img.partner-item_avatar {
        width: 100%;
        padding: 0px 15px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

.pureBlock {
  position: relative;
  /*  &.breakThrought {
      .pureBlock-title {
        padding-top: 208px;
      }
    }*/
  &.partner {
    .pureBlock-title {
      padding-top: 158px;
    }
  }
  &-title {
    padding-top: 112px;
    padding-bottom: 32px
  }
  &-description {
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 45px;
    &-text {
      white-space: pre-line;
      &.minh220 {
        min-height: 220px;
      }
    }
  }
  &-container {
    max-width: 1200px;
  }
  .title {
    margin-bottom: 30px;
  }
  .button {
    margin-top: 20px;
  }
  /*  img {
      display: block;
      width: 90%;
      max-width: 600px;
    }*/
  @media screen and (max-width: 768px) {
    padding: 0px;
    img {
      //margin-top: 40px;
    }
    &.breakThrought {
      .pureBlock-title {
        padding-top: 20px;
      }
    }
    &.partner {
      .pureBlock-title {
        padding-top: 28px;
      }
    }
    &-title {
      padding-top: 20px;
      padding-bottom: 20px
    }
    &-description {
      padding: 15px;
    }
  }
}

/*.roadmap {
  &_block {
    &-preimage {
      z-index: 1;
      @media screen and (max-width: 768px) {
        padding: 0px 15px;
      }
    }
    &-image {
      position: absolute;
      top: 244px;
      width: 45%;
      max-width: 690px;
      min-width: 525px;
      right: 0px;
      bottom: 0px;
      background-color: #00bde3;
      z-index: 0;

    }
    &-li {
      list-style-type: none;
      display: flex;
      align-items: flex-end;
      border-bottom: 1px solid rgba(150, 150, 150, 0.4);
      margin: 60px 0px;
    }
    &-date {
      color: #27a7d1;
      font-weight: bold;
      font-size: 20px;
      min-width: 120px;
    }
    &-text {
      max-width: 500px;
    }
    img {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      width: auto;
      height: 100%;
      z-index: 1;
    }
    @media screen and (max-width: 1440px) {
      &-image {
        max-width: 550px;
      }
    }
    @media screen and (max-width: 1310px) {
      img {
        display: none;
      }
      &-image {
        display: none;
      }
    }
  }
}*/

.container .blue-background {
  &:after {
    content: '';
    background-color: #44c3e6;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  &:not(.banner) {
    z-index: 1;
  }
}

/*.dna-img {
  position: absolute;
  z-index: 0;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
*/
.dna-img {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  z-index: 2;
  opacity: 0.7;
  img {
    /*    max-width: 100%;
        width: auto;*/
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: -1;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.man-img {
  position: absolute;
  bottom: -50px;
  img {
    width: 350px;
    max-width: initial;
  }
  @media screen and (min-width: 768px) {
    left: -300px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
